<html>
    <head>
<title>
    <%=title %>
</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/home.css">

    </head>
    <body>
        <!-- heading -->
        <i class="fas fa-th-list"></i>
        <h1 class="page-heading">TODO APP</h1>
        
        <div id="contact-list-container">
            <ul>
                <% for(let i of contact_list){%>
<li class="contact">
    <div class="details">
    <p><%= i.work%></p>
    <p><%= i.date%></p>
    <p><%=i.ttype%></p>
</div>
<div class="delete-button"> 
<a href="/delete-contact/?id=<%=i._id%>">
    <i class="fas fa-window-close"></i>
</a>
</div>
</li>
               <%}%>
            </ul>
        </div>
        <!-- form to enter details -->
        <form action="/create-contact" method="POST">
        <input type="text" name="work" placeholder="enter task">
        <input type="date" name="date" placeholder="enter date">
        <select name="ttype" id="work-type">
            <option value="study">study</option>
            <option value="work">work</option>
            <option value="sports">sports</option>
          </select>
        <button type="submit">ADD TASK</button>
    </form>
 
    <script type="text/javascript" src="/js/home.js"></script>
    <script src="https://kit.fontawesome.com/066dcca5cb.js" crossorigin="anonymous"></script>
</body>
</html>